* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
}

div {
    border: 1px solid black;
    margin: 10px; /* cajas */
    padding: 10px; /* texto */
}

#box1 {
    flex: 3;
}

#main-container {
    justify-content: space-between;
}

#second-container {
    justify-content: space-evenly;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}